<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yandexweatherwork">

    <!-- Разрешаем приложению получить доступ к событию доступности сети  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Разрешаем выход приложению в Интернет  -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YandexWeatherWork">
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Добавление BroadcastReceiver и установка полей:
         android:exported="true",
         <action android:name="broadcastsender.city" /> -->
        <receiver
            android:name=".repository.NetworkChangeBroadcastReceiver"
            tools:ignore="Instantiatable"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="broadcastsender.city" />
            </intent-filter>
        </receiver>
        <!-- Добавление Service -->
        <service android:name=".repository.facadeuser.GetDataFromInternetService"/>
    </application>

</manifest>